body
{
    position: relative;
    height: 100vh;
    margin : 0;
    background-color: rgb(8, 8, 8);
}

.container 
{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav
{
    display: none;
}

@media only screen and (min-width: 600px) {
    .nav
{
    display: block;
    align-self: center;
}
.nav > ul
{
    display: flex;
    list-style: none;
    align-self: center;
}

.nav li a
{
    margin: 10px;
    padding : 10px;
    text-decoration: none;
    color: rgba(252, 252, 252, 0.726);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition-duration: .2s;
}   

.nav li a:hover
{
   background-color: rgba(31, 42, 65, 0.712);
   margin: 12px;
   padding : 12px;
   font-size: 18px;
   border-radius: 30px;
}   
  }


  .hamburger
    {
        display: none;
    }

  @media only screen and (max-width: 600px) {
    .hamburger
    {
        display: flex;
    }

    .hamburger p
    {
        color: teal;
        flex-grow: 1;
        margin: 10px 10px 10px 10%;
        padding : 10px;
        text-decoration: none;
        color: rgba(252, 252, 252, 0.726);
        font-family: sans-serif;
        font-size: 30px;
        font-weight: bold;
        transition-duration: .2s;
    }
          .hicon
          {
              float: right;
              margin: 15px 15px 5px 5px;
              background-image: url("./menu.png");
              background-size: cover;
              cursor: pointer;
              height: 50px;
              width: 50px;
          }
      
  }

  .menu 
  {
      display: none;
      transition : all 3s ease-in-out;
      animation: menu 3s;
  }

  @keyframes menu {
    from { transform: translateY(-10px);}
    to { transform: translateY(0px);}
  }

  .menu ul a
  {
      background-color: rgba(134, 134, 134, 0);
      padding : 10px;
      text-decoration: none;
      color: rgba(252, 252, 252, 0.87);
      font-family: sans-serif;
      font-size: 25px;
      font-weight: bolder;
  }


.jumbotron
{
    height: 60px;
    background-image: url('./1.png');
    background-repeat: no-repeat;
    background-size: cover ;
    background-color: #fff;
}

.jumbotron > p
{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    /* font-weight: bold; */
}

.section
{
    flex : 1;
}

.box
{
    border-style: groove;
    margin: 0% 2% 0% 2%;
}

.section p
{
    color: rgb(2, 241, 54);
    font-family: monospace;
    margin-left: 5.5%;
    margin-right: 5.5%;
    font-size: 20px;
    display: block;
    text-align: center;
}

.title
{
    margin-top: 50px;
    font-family: monospace;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(108, 112, 112);
    border-bottom: 4px solid rgba(112, 112, 119, 0.158);
}

.title span
{
    margin-left: 20px;    
}
.title img
{
    height: 50px;
}

.hlcard
{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    margin: 20px;
    height: 300px;
    border-radius: 5px;
    background-color: rgba(68, 67, 68, 0);
    transition : all 0.75s ease-out;
    transition-duration: 1s;
}

@media only screen and (min-width: 1150px) {


    .info
    {
        display: block;
        margin: 30px;
        font-family: monospace;
        color: rgba(2, 241, 54, 0.295);
        font-size: 20px;
        word-wrap: break-word;
    }
    
    .info2
    {
        flex-grow: 1;
        text-align: right;
        display: block;
        margin: 30px;
        font-family: monospace;
        color: rgba(2, 241, 54, 0.295);
        font-size: 20px;
    }

    
.hlcard img
{
    margin-left: 20px;
    height: 80%;
    max-width: 20rem;
    justify-content: center;

    border-radius: 30px;
}
}


@media only screen and (max-width: 1150px) {
    .info{
        display: none;
    }
    
    .info2{
        display: none;
    }

    .hlcard img
    {
        margin-left: 20px;
        height: 80%;
        width: 80%;
        justify-content: center;
        align-content: center;
        border-radius: 30px;
    }

    .hlcard
    {
        justify-content: center;
    }

    .hlcard:hover
    {
        transform: scale(1.2)
    }
}



.vmore
{
    margin-right: 30px;
    float: right;
    animation: vmore 3s infinite;
}

.vmore a
{
    text-decoration: none;
    font-family: monospace;
    color: rgb(2, 241, 54);
}

@keyframes vmore {
    0% {opacity: .2;}
    50%{opacity: 1;}
    100%{opacity: .2;}
  }

.vmore:hover
{
    animation: jump 2s infinite;
}

@keyframes jump {
    0% {transform: translateX(0px);}
    50%{transform: translateX(5px);;}
    100%{transform: translateX(0px);}
  }

#achievement-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card
{
    background-image: linear-gradient(to bottom right,rgb(245, 237, 237), rgb(43, 43, 36));
    transform-style: preserve-3d;
    max-width: 15rem;
    margin: 20px;
    justify-content: center;
    align-self: center;
    text-align: center;
    border-radius: 25px;
    box-shadow:  3px 4px #f5f3f369;
    transition : all 0.75s ease-out;

}

.card:hover
{
    animation: mymove 1s infinite;
    transition : all 0.75s ease-in-out
}

@keyframes mymove {
    0% {transform: rotateX(0deg) rotateY(0deg);}
    30% {transform: rotateX(0deg) rotateY(20deg);}
    60% {transform: rotateX(0deg) rotateY(-20deg);}
    100% {transform: rotateX(0deg) rotateY(0deg);}
  }


.card img
{
    max-width: 100%;
    transform: translateZ(50px);
    transition : all 0.75s ease-out
}

.card p
{
    font-family:  sans-serif;
    margin-left: 5.5%;
    margin-right: 5.5%;
    font-size: 15px;
    transform: translateZ(30px);
    transition : all 0.75s ease-out
}

.card a
{
    text-decoration: none;
    color: rgb(19, 182, 247);
}
.footer
{
    color: rgb(245, 245, 245);
    background-color: rgba(61, 60, 60, 0.329);
    font-family: serif;
    min-height: 100px;
    text-align: center;
    padding: 10px;
}

.footer i
{
   /* display: flex; */
   /* position: relative; */
   /* flex-direction: row; */
   margin : 5px
}

.footer i:hover
{
    cursor: pointer;
}

.hr
{
    width: 80%;
}

.hr1
{
    width: 85%;
}