body
{
    position: relative;
    height: 100vh;
    margin : 0;
    background-color: rgb(8, 8, 8);
}

.container 
{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav
{
    align-self: center;
}
.nav > ul
{
    display: flex;
    list-style: none;
    align-self: center;
}

.nav li a
{
    margin: 10px;
    padding : 10px;
    text-decoration: none;
    color: rgba(252, 252, 252, 0.726);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition-duration: .2s;
}   

.nav li a:hover
{
   background-color: rgba(31, 42, 65, 0.712);
   margin: 12px;
   padding : 12px;
   font-size: 18px;
   border-radius: 30px;
}   

.jumbotron
{
    height: 60px;
    background-image: url('./1.png');
    background-repeat: no-repeat;
    background-size: cover ;
    background-color: #fff;
}

.jumbotron > p
{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    /* font-weight: bold; */
}

.section
{
    flex : 1;
}

.box
{
    border-style: groove;
    margin: 0% 2% 0% 2%;
}

.section p
{
    color: rgb(2, 241, 54);
    font-family: monospace;
    margin-left: 5.5%;
    margin-right: 5.5%;
    font-size: 20px;
    display: block;
    text-align: center;
}

.title
{
    margin-top: 50px;
    font-family: monospace;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(108, 112, 112);
    border-bottom: 4px solid rgba(112, 112, 119, 0.158);
}

.title span
{
    margin-left: 20px;    
}
.title img
{
    height: 50px;
}
#achievement-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card
{
    background-image: linear-gradient(to bottom right,rgb(245, 237, 237), rgb(43, 43, 36));
    transform-style: preserve-3d;
    max-width: 15rem;
    margin: 20px;
    justify-content: center;
    align-self: center;
    text-align: center;
    border-radius: 25px;
    box-shadow:  3px 4px #f5f3f369;
    cursor: pointer;
}

.card img
{
    max-width: 100%;
    transition : all 0.75s ease-out
}

.card p
{
    font-family:  sans-serif;
    margin-left: 5.5%;
    margin-right: 5.5%;
    font-size: 15px;
    transition : all 0.75s ease-out
}

.card a
{
    text-decoration: none;
    color: rgb(19, 182, 247);
}
.footer
{
    color: rgb(245, 245, 245);
    background-color: rgba(61, 60, 60, 0.329);
    font-family: serif;
    min-height: 100px;
    text-align: center;
    padding: 10px;
}

.footer i
{
   /* display: flex; */
   /* position: relative; */
   /* flex-direction: row; */
   margin : 5px
}

.footer i:hover
{
    cursor: pointer;
}

.hr
{
    width: 80%;
}

.hr1
{
    width: 85%;
}