body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

.nav-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  height: 70px;
  white-space: nowrap;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  margin-right: auto;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 5px;
  color: rgba(45, 47, 49, 0.822);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 50px;
  margin-left: auto;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba(45, 47, 49, 0.822);
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  list-style: none;
  margin: 0px 15px 0px 15px;
  cursor: pointer;
}

.burger {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 15px;
  height: 29px;
  width: 35px;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.burger div {
  width: 35px;
  height: 3px;
  background: rgba(45, 47, 49, 0.822);
  margin: 5px 0px 5px 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger .line1 {
  width: 15px;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  width: 35px !important;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  width: 35px !important;
}

.burger:hover .line1 {
  width: 35px;
}

.burger:hover .line3 {
  width: 15px;
}

@media screen and (max-width: 900px) {
  .nav-bar {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .logo {
    margin: auto;
    cursor: pointer;
  }
  .menu {
    position: absolute;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #8f8f8f), color-stop(40%, #ffffff00));
    background: linear-gradient(to top, #8f8f8f 10%, #ffffff00 40%);
    bottom: 0;
    right: 0;
    -webkit-transform: skewY(90deg);
            transform: skewY(90deg);
    opacity: 0;
    margin-right: 0;
    height: 100%;
    width: 300px;
    text-align: right;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    pointer-events: none;
  }
  .nav-links {
    pointer-events: visible;
  }
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto 70px 50px auto;
    width: 50%;
  }
  .menu li {
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .menu li:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .burger {
    display: block;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.transform {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(310px);
          transform: translateY(310px);
}

.nav-active {
  right: 0;
  opacity: 1;
  -webkit-transform: skewY(0deg);
          transform: skewY(0deg);
}
/*# sourceMappingURL=style.css.map */