html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  -webkit-filter: saturate(10px);
          filter: saturate(10px);
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: 3px 3px 5px rgba(94, 104, 121, 0.288);
  overflow: hidden;
  white-space: nowrap;
  z-index: 10;
}

.logo {
  margin-left: 100px;
  font-size: 18px;
  font-weight: bolder;
}

.menu {
  position: relative;
  margin-right: 100px;
  margin-left: auto;
  font-size: 15px;
  font-weight: bold;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navlinks li {
  margin: 0 0 0 40px;
  cursor: pointer;
}

.navlinks li a {
  text-decoration: none;
  color: black;
}

.hero-wrapper {
  margin: 0 100px 0 100px;
}

.hero {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  height: calc(100vh + 40px);
}

.left {
  margin-left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
}

.left .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left .btn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 120px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 10px;
  margin: 0 10px 0 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.288);
  cursor: pointer;
}

.left .btn div:hover {
  background-color: black;
  color: white;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  min-width: 250px;
  width: 70%;
  background: #ffffff;
  -webkit-box-shadow: inset -3px -3px 7px rgba(94, 104, 121, 0.288), 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: inset -3px -3px 7px rgba(94, 104, 121, 0.288), 3px 3px 5px rgba(94, 104, 121, 0.288);
  border-radius: 10px;
  margin: auto;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  pointer-events: none;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  scroll-margin-top: 100px;
}

.about:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.portrait {
  background-image: url("../images/109020164_272953707133001_7554506661641973272_n.jpg");
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  pointer-events: auto;
  z-index: 1;
}

.portrait::before {
  content: 'Hover me';
  position: absolute;
  display: inline-block;
  margin: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgba(252, 251, 250, 0.747);
  -webkit-animation: bouncing 2s infinite;
          animation: bouncing 2s infinite;
}

.portrait:hover::before {
  content: '';
}

@-webkit-keyframes bouncing {
  0% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
  50% {
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
  }
  100% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
}

@keyframes bouncing {
  0% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
  50% {
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
  }
  100% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
}

.portrait::after {
  content: '';
  position: absolute;
  display: inline-block;
  border: 0.5px rgba(94, 104, 121, 0.288);
  border-radius: 10px;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.288), 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.288), 3px 3px 5px rgba(94, 104, 121, 0.288);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: -1;
}

.portrait:hover {
  -webkit-transform: translate(2px, 2px) translateZ(2px) scale(1.2);
          transform: translate(2px, 2px) translateZ(2px) scale(1.2);
}

.portrait:hover::after {
  background: rgba(223, 223, 224, 0.288);
  -webkit-transform: translate(-10px, -10px) translateZ(-2px);
          transform: translate(-10px, -10px) translateZ(-2px);
}

.bio {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  word-wrap: break-word;
  margin: 10px;
  font-size: 15px;
}

.bio div {
  margin: 10px;
}

.header {
  font-size: 20px;
  font-weight: bolder;
}

.subheader {
  font-size: 15px;
  font-weight: bold;
  -webkit-transform: translateY(-12px) translateZ(-1);
          transform: translateY(-12px) translateZ(-1);
}

.right {
  background-color: rgba(168, 167, 167, 0.548);
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.body section {
  margin: 0 0 50px 0;
  scroll-margin-top: 100px;
}

.title {
  position: relative;
  font-size: 20px;
  margin-left: 25px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  -webkit-transition-property: color, background;
  transition-property: color, background;
}

.title::before {
  content: '';
  position: absolute;
  display: inline-block;
  background: rgba(0, 0, 0, 0.144);
  -webkit-box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.288), 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.288), 3px 3px 5px rgba(94, 104, 121, 0.288);
  width: 30%;
  height: 1px;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

section:hover .title {
  color: #bd046a;
}

section:hover .title::before {
  background: #bd046a;
}

.content {
  margin: 50px 50px 0 50px;
}

.carousel-container {
  position: relative;
  max-width: 80%;
  min-width: 17rem;
  border-radius: 10px;
  height: 350px;
  overflow: hidden;
  margin: auto;
  text-align: center;
  z-index: 1;
}

.plate {
  display: block;
  bottom: -50px;
  margin: auto;
  width: 90%;
  min-width: 270px;
  height: 65px;
  border-radius: 10px;
  -webkit-box-shadow: inset -3px -3px 7px rgba(94, 104, 121, 0.288), inset 3px 3px 5px rgba(221, 223, 226, 0.288);
          box-shadow: inset -3px -3px 7px rgba(94, 104, 121, 0.288), inset 3px 3px 5px rgba(221, 223, 226, 0.288);
  -webkit-transform: skew(-40deg) translate(-80px, -100px);
          transform: skew(-40deg) translate(-80px, -100px);
  z-index: -1;
  -webkit-filter: url(#wavy);
          filter: url(#wavy);
}

.carousel-container::after {
  content: '- Featured -';
  display: block;
  position: absolute;
  font-size: 20px;
  letter-spacing: 2px;
  bottom: 55px;
  left: 15px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-filter: url(#wave);
          filter: url(#wave);
}

.carousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  height: 270px;
}

.carousel-slide a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  pointer-events: none;
  padding: 0 10px 0 10px;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #706e6e 170%);
}

.carousel-slide a img {
  display: block;
  margin: auto;
  min-height: 100%;
  max-height: 100%;
  max-width: 70%;
  min-width: 70%;
  border-radius: 10px;
  -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
  pointer-events: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#prevBtn, #nextBtn {
  position: absolute;
  z-index: 1;
  color: #575656;
  font-size: 20px;
  cursor: pointer;
}

#prevBtn {
  top: 50%;
  left: 10px;
}

#nextBtn {
  top: 50%;
  right: 10px;
}

.badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  width: 80%;
}

.card {
  height: 19rem;
  width: 13rem;
  margin: 10px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.288), 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.288), 3px 3px 5px rgba(94, 104, 121, 0.288);
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

.card:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.card img, a {
  width: 100%;
  text-decoration: none;
  color: black;
}

.projectItems, .projectsMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectsBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

.projectsBtn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 10px 0 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.288);
  cursor: pointer;
}

.projectsBtn div:hover {
  background-color: black;
  color: white;
}

.liner {
  position: relative;
  bottom: 0;
  height: 25px;
  width: 100%;
}

.liner::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 2px;
  border-radius: 50px;
  background: #a8a7a7;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  margin-left: var(--left);
  -webkit-transform: var(--translateX);
          transform: var(--translateX);
}

.liner::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 5px;
  height: 24px;
  background: rgba(168, 167, 167, 0.548);
  -webkit-transform: translateX(60px) translate(-50%, -1px);
          transform: translateX(60px) translate(-50%, -1px);
  margin-left: var(--left);
  -webkit-transition: var(--trans);
  transition: var(--trans);
  -webkit-animation: var(--projectBtn);
          animation: var(--projectBtn);
}

.line {
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 0;
  background: #555555;
  height: 1px;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  min-height: 25rem;
  padding-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.projects-container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 16rem;
  max-width: 16rem;
  height: 20rem;
  margin: 10px;
  padding: 30px;
  border-radius: 50px;
  -webkit-box-shadow: inset -3px -3px 7px rgba(94, 104, 121, 0.288), inset 3px 3px 5px rgba(221, 223, 226, 0.288);
          box-shadow: inset -3px -3px 7px rgba(94, 104, 121, 0.288), inset 3px 3px 5px rgba(221, 223, 226, 0.288);
  -webkit-filter: saturate(4);
          filter: saturate(4);
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons .folder {
  font-size: 35px;
}

.icons .link {
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.folder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.project-title, .company-title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
  color: black;
}

.date {
  font-size: 13px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.project-description, .work-description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}

.tech-list, .company-list ul {
  font-size: 13px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.6);
}

@-webkit-keyframes projectsBtn {
  0% {
    height: 20px;
  }
  80% {
    height: 0;
  }
  100% {
    height: 20px;
  }
}

@keyframes projectsBtn {
  0% {
    height: 20px;
  }
  80% {
    height: 0;
  }
  100% {
    height: 20px;
  }
}

.graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 300px;
}

.vertical-line {
  width: 2px;
  min-height: 300px;
  max-height: 100%;
  background: black;
  margin: 0 20px 0 20px;
}

.company-list ul {
  list-style: none;
  text-align: end;
}

.company-list ul li {
  margin: 10px 0 10px 0;
  padding: 20px;
  height: 30px;
  white-space: nowrap;
  cursor: pointer;
}

.company-list ul li:hover {
  -webkit-box-shadow: inset -3px -3px 7px rgba(94, 104, 121, 0.288), inset 3px 3px 5px rgba(221, 223, 226, 0.288);
          box-shadow: inset -3px -3px 7px rgba(94, 104, 121, 0.288), inset 3px 3px 5px rgba(221, 223, 226, 0.288);
  color: black;
  border-radius: 10px;
}

.footer {
  height: 10vh;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .navbar {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .logo {
    margin: 0;
  }
  .menu {
    display: none;
  }
  .hero-wrapper {
    margin: 0;
  }
  .hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .left {
    top: 20%;
    margin: 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .right {
    display: none;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portrait {
    margin: auto;
    border-radius: 50%;
  }
  .portrait::after {
    border-radius: 50%;
    -webkit-transform: translate(-5px, -5px) translateZ(-2px);
            transform: translate(-5px, -5px) translateZ(-2px);
  }
  .portrait:hover {
    -webkit-transform: translate(2px, 2px) scale(1.5);
            transform: translate(2px, 2px) scale(1.5);
  }
  .portrait:hover::after {
    background: rgba(223, 223, 224, 0.288);
    -webkit-transform: translateZ(-2px) scale(1.1);
            transform: translateZ(-2px) scale(1.1);
  }
  .bio, .bio div {
    margin-left: 0;
    margin-right: 0;
  }
  .carousel-container::after {
    bottom: 40px;
    left: 15%;
  }
}

.space {
  height: 100px;
}
/*# sourceMappingURL=test.css.map */